@media all and (max-width: 475px){
    header{
        justify-content: center;
    }
}
@media all and (max-width: 1200px){
    
    #footer-right{
        justify-content: space-evenly;
    }
}
@media all and (min-width: 360px){
    #search-form{
        width: 10px;
    }
}