@import url(reset.css);
#header{
    height: 100px;
    background-color: white;
    margin: -37px 0px 0px;
}
img{
    width: 100px;
    height: 30px;
   
}
#header #img{
    width: 150px;
    height: 37px;
    padding: 4px 28px 0 30px;

}
#header svg{
    height: 24px;
    width: 24px;
}
#search-bar{
    display: flex;
    justify-content: flex-start;
    
}
#input{
 padding-left: 20px;
}


